* {
    border: none;
    border-radius: 0;
    font-family: JetBrains Mono Nerd Font, Regular;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 5px;
    color: #1d3d44;
    margin-right: 5px;

}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}


#window,
#clock,
#network,
#battery,
#temperature,
#pulseaudio,
#workspaces,
#tray,
#backlight {
    background: #1e1e2e;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border-radius: 0px;
    border-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 3px;
    border-style: solid;
    border-color: #11111b;
    border-right-width: 0px;
    border-left-width: 0px;
    margin-left: -10px;
  
}

#tray {
    border-radius: 10px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-style: solid;
    border-color: #11111b;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-style: solid;
    border-color: #11111b;
    margin-top: 10px;
}
#clock {
    color: #fab387;
    border-radius: 10px 10px 10px 10px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-style: solid;
    border-color: #11111b;
    margin-left: 0px;
    
}
#network {
    color: #f9e2af;
    border-radius: 10px 0px 0px 10px;
    margin-right: 0px;
    margin-left: 0px;
    border-right-width: 0px;
    border-left-width: 2px;
    border-style: solid;
    border-color: #11111b;
}
#temperature {
    color: #f5c2e7;
    margin-right: 0px;
    border-radius: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    margin-left: -10px;
}
#battery {
    color: #a6e3a1;
    margin-right: 0px;
    margin-left: -10px;
    border-radius: 0px;
    }
#custom-tw-on {
	color: #e5809e;
	background: #1e1e2e;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 5px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	border-width: 2px;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-style: solid;
	border-color: #11111b;
	border-right-width: 2px;
	border-radius: 10px 10px 10px 10px;
	border-left-width: 2px;
}
    #language {
    background: #1e1e2e;
    color: #b5a2e7;
    margin: 3px 0px;
    margin-top: 10px;
    border-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 3px;
	border-style: solid;
    border-color: #11111b;
    border-right-width: 0px;
    border-left-width: 0px;

}
#pulseaudio {
    color: #89b4fa;
    margin-right: 10px;
    margin-left: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0 10px 10px 0;
    border-right-width: 2px;
    border-style: solid;
    border-color: #11111b;

}

